<ul>
  <li *ngFor="let coffee of (list$ | async)">
    <h4>{{ coffee.name }}
      <br>
      <small>{{ coffee.price | currency: 'R' }}</small>
    </h4>
    <app-cup [item]="coffee" (click)="addToCart(coffee.name)"></app-cup>
    <div *ngIf="isFeatureRemixOn">
      <button type="button" (click)="addToCartAndCheckout(coffee.name)"> Grab </button>
      <button type="button" routerLink="/remix" [queryParams]="{ template: coffee.name }">Customize</button>
    </div>
  </li>
</ul>
<app-pay></app-pay>
